.App {
  text-align: center;
  margin: 20px;
}

input[type="file"] {
  margin: 10px;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
